footer
    .section
        h3 Business

        ul
            li 
                a(href="https://www.u-php.de" title="Lars Urban Business Page") U-PHP.de
            li
                a(href="https://www.u-php.de/projekte" title="Projects of Lars Urban") Projects
    
    .section
        h3 Infos

        ul
            li 
                a(href="https://github.com/Koalabaer79/lp_compiler" title="Download GitHub Repository of LP-Compiler") GitHub Repository
            li
                a(href="https://github.com/Koalabaer79" title="GitHub profile of Lars Urban") GitHub profile