footer
    .section
        h3 H3 Footer

        ul
            li 
                a(href="#" title="Foot1") foot 1
            li
                a(href="#" title="Foot2") foot 2
    
    .section
        h3 H3 Footer

        ul
            li 
                a(href="#" title="Foot1") foot 3
            li
                a(href="#" title="Foot2") foot 4