footer
    #imprint
        h3 Imprint: Lars Urban / u-php.de / &copy;2020
    
    #links
        .el 
            a(href="https://www.u-php.de" title="Lars Urban Business Page") U-PHP.de
        .el 
            a(href="https://www.u-php.de/projekte" title="Projects of Lars Urban") Other projects
        .el
            a(href="https://github.com/Koalabaer79/lp_compiler" title="Download GitHub Repository of LP-Compiler") GitHub Repository
        .el
            a(href="https://github.com/Koalabaer79" title="GitHub profile of Lars Urban") GitHub profile

    .logo
        img.img(src="./assets/logo.png" alt="logo of Lars Urban")