#nav
    ul.menu
        li
            a(href="#", title="Home Button") U-PHP
        li
            a(href="#description", title="Description Button") Description
        li
            a(href="#features", title="Features Button") Features
        li
            a(href="#commands", title="Commands Button") Commands