#nav
    #navBtn(onClick="openNav()")
    ul#menu
        li
            a(href="?intro=show", title="View Intro Again") Intro
        li
            a(href="#description", title="Directly to Description") Description
        li
            a(href="#features", title="Directly to Features") Features
        li
            a(href="#commands", title="Directly to Commands") Commands