$font: 'Yantramanav', Verdana, Geneva, Tahoma, sans-serif;
$main_color: #1d3341;
$sec_color: #fff;
$side_color: #b8b8b8;
$bg_color: #485969;


html, body, #container, #div {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg_color;
}

#background {
    background-color: $main_color;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 998;
    text-align: center;
    margin: 0; padding: 0;

    #stopIntro {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-family: $font;
        font-weight: 400;
        font-size: 20px;
        color: $sec_color;
    }

    #text1, #text2, #text3 {
        opacity: 0;
        .titleText {
            padding-top: 40vh;
            position: absolute;
            font-family: $font;
            font-weight: 700;
            width: 100%;
            z-index: 999;
            height: auto;
            background: linear-gradient(45deg,#4f616b,#a1a9b6,#485969);
            background-size: 300%;
            color: #fff;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            -ms-background-clip: text;
            -ms-text-fill-color: transparent;
            text-transform: uppercase;
            font-size: 10vw;
            line-height: 0.9;
        }
    }
}

.hidden {
    opacity: 0;
}

.hide {
    display: none;
}

.display {
    display: block;
}

.white {
    background-color: $sec_color;
    color: $main_color !important;
}
.blue {
    background-color: $main_color;
    color: $sec_color !important;
}

.arrow_down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow{
    display: inline;
    @media screen and (max-width: 800px) {
        display: none;
    }
}
  
#container {
    display: none;
    max-width: 1280px;
    margin: 0 auto;

    &.display {
        display: block;
    }

    #nav {
        background-color: $main_color;
        width: 100%;
        display: block;
        margin: 0;
        opacity: 0;
        position: sticky;
        top: 0;
        z-index: 9999;

        #navBtn {
            display: none;
            width: 50px;
            height: 50px;
            background-image: url('./assets/icons/btn.png');
            background-repeat: no-repeat;
            background-position: center;
            padding: 5px;
            margin: 0 auto;
            cursor: pointer;
            &:hover, &.active {
                background-image: url('./assets/icons/btn_h.png');
            }
            @media screen and (max-width: 800px) {            
                display: block;
            }
        }
    
        #menu {    
            list-style: none;
            width: auto;
            margin: 0;
            padding: 0;
            height: auto;
            display: flex;
            justify-content: center;
            background-color: $main_color;
            position: sticky;
            top: 0;
            @media screen and (max-width: 800px) {            
                display: none;
                position: absolute;
                top: 60px;
                height: 0;
                overflow: hidden;
                width: 100%;
                text-align: center;
            }

            &.display{
                display: block;
                animation: 1s expand forwards;
            }
    
            li {
                float: left;
                @media screen and (max-width: 800px) {            
                    float: none;
                }
    
                a {
                    padding: 10px 20px;
                    text-decoration: none;
                    display: block;
                    color: $sec_color;
                    font-family: $font;
                    font-weight: 400;
                    font-size: 20px;
                }
    
                a:hover {
                    background-color: $sec_color;
                    color: $main_color;
                }
            }
        }
    }
        
    #header {
        width: 100%;
        text-align: center;
        position: relative;
        opacity: 0;
        margin: 0;
    
        h1 {
            font-size: 60px;
            text-align: center;
            color: $main_color;
            position: absolute;
            margin: 0;
            top: 30px;
            width: 100%;
            @media screen and (max-width: 800px) {
                font-size: 30px;
            }
            @media screen and (max-width: 400px) {
                top: 10px;
                font-size: 20px;
            }
        }
    
        .headerImg {
            margin: 0;
            width: 100%;
            display: block;
        }
    
        .gradient {
            position: absolute;
            top: 0;
            width: 100%;
            height: 50px;
            background: rgb(29,51,65);
            background: linear-gradient(180deg, rgba(29,51,65,1) 0%, rgba(29,51,65,0) 100%);
            @media screen and (max-width: 500px) {
                height: 20px;
            }
        }
    
        .gradient_2 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80px;
            background: rgb(29,51,65);
            background: linear-gradient(180deg, rgba(29,51,65,0) 0%, rgba(29,51,65,1) 80%);
            @media screen and (max-width: 500px) {
                height: 20px;
            }
        }
    }

    #content {
        margin: 0;

        .text_container {
            opacity: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
            & .text {
                width: calc(100% - 200px);
                padding: 20px 50px;
                @media screen and (max-width: 800px) {
                    padding: 20px;
                    width: 100%;
                }

                h3, p {
                    color: $main_color;
                    margin: 0;
                    padding: 0;
                }
                p{
                    margin-bottom: 15px;

                    &.code {
                        background-color: $main_color;
                        padding: 5px 10px;
                        color: $sec_color;
                        margin-bottom: 0;
                        // font-style: italic;
                        font-family: 'Courier New';
                    }
                    & .file {
                        color: $side_color;
                    }
                }
            }

            .icons {
                width: 100px;
                position: relative;
                background-color: $main_color;
                @media screen and (max-width: 800px) {
                    padding: 20px;
                    width: 100%;
                    background-color: $sec_color;
                }
            }

            .insCenter {
                width: 100%;
                text-align: center;
                padding: 20px 0;
            }
        }

        .middleSection {
            min-height: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            opacity: 0;

            .textCenter {
                width: calc(100% - 40px);
                text-align: center;
                margin: 40px 20px 0 20px;
            }
            .arrow_div {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
            
            .imgIns {
                width: 25%;
                text-align: center;
                padding: 25px 0 50px 0;

                img {
                    border: 15px solid $sec_color;
                    border-radius: 10px;
                    &:hover {
                        box-shadow: 0 0 10px $sec_color;
                    }
                }

                @media screen and (max-width: 800px) {
                    width: 50%;
                }
            }

            #download {                
                margin-bottom: 30px;

                .download {
                    font-family: $font;
                    font-weight: 700;
                    font-size: 40px;
                    color: $sec_color;
                    @media screen and (max-width: 500px) {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    footer {
        background-color: $main_color;
        width: 100%;
        color: $sec_color;

        #imprint {
            text-align: center;
            width: 100%;
            padding: 20px 0;

            h3 {
                font-family: $font;
                font-size: 30px;
            }
        }

        #links {
            text-align: center;
            width: 100%;
            padding:0;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: 1px solid $sec_color;
            border-top: 1px solid $sec_color;

            .el {
                text-align: center;
                list-style: none;
                width: 200px;
                float: left;
                margin: 0;
                padding: 10px 0;

                a {
                    text-decoration: none;
                    font-family: $font;
                    font-weight: 400;
                    color: $sec_color;
                    padding: 10px 20px;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .logo {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
    }

    h1, h2, h3 {
        font-family: $font;
        font-weight: 700;
    }

    p{
        font-family: $font;
        font-weight: 400;
        font-size: 20px;
        color: $main_color;
    }

    h2 {
        font-size: 40px;
        color: $main_color;
        margin: 20px 0;
        @media screen and (max-width: 800px) {
            font-size: 30px;
        }
    }

    hr {
        background-color: $main_color;
    }
}

.fadeIn{
    animation: 1s fadeIn forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut{
    animation: 1s fadeOut forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes expand {
    from {
        height: 0;
    }
    to {
        height: 185px;
    }
}