doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title Landing Page
        meta(name="description",content="Add description here")
        meta(name="keywords",content="Add, keywords, here")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(href="./css/style.css",rel="stylesheet",type="text/css")
        script(src="./js/functions.js")
    body(id="body")
        div(id="container")            
            include ./_shared/menu.pug

            #header
                img.header(src="./assets/header.jpg")
                h1 Hallo Index-Seite!

            hr

            #content
                h2 H2 Titel
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            
            include ./_shared/footer.pug