#nav
    ul.menu
        li
            a(href="#", title="Home Button") HOME
        li
            a(href="#", title="Second Button") Second
        li
            a(href="#", title="Third Button") Third