body {
  margin: 0;
  padding: 0; }

.container {
  position: relative;
  cursor: pointer; }

.absolute {
  position: absolute; }

.topLeft {
  top: 0;
  left: 0; }

.fullScreen {
  width: 100%;
  height: 100%; }

.hidden {
  opacity: 0; }

.border {
  box-sizing: border-box;
  border: 0;
  background-color: #000;
  position: absolute; }
  .border.top {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0; }
  .border.right {
    width: 1px;
    height: 100%;
    top: 0;
    right: 0; }
  .border.bottom {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0; }
  .border.left {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0; }

.container {
  width: 970px;
  height: 90px; }

#logo {
  top: 9px;
  right: 18px; }

#t6 {
  font-size: 20px; }

.animate_logo {
  animation: 6.75s logo linear;
  animation-iteration-count: 4; }

.animate_t1 {
  animation: 1s fadeIn 0.001s forwards, 1s fadeOut 2s forwards, 1s fadeIn 15s forwards, 1s fadeOut 17s forwards; }

.animate_t2 {
  animation: 1s fadeIn 3s forwards, 1s fadeOut 5s forwards, 1s fadeIn 18s forwards, 1s fadeOut 20s forwards; }

.animate_t3 {
  animation: 1s fadeIn 6s forwards, 1s fadeOut 8s forwards, 1s fadeIn 21s forwards, 1s fadeOut 23s forwards; }

.animate_t4 {
  animation: 1s fadeIn 9s forwards, 1s fadeOut 11s forwards, 1s fadeIn 24s forwards, 1s fadeOut 26s forwards; }

.animate_t5 {
  animation: 1s fadeIn 12s forwards, 1s fadeOut 14s forwards, 1s fadeIn 27s forwards; }

@keyframes logo {
  from {
    transform: rotateY(0); }
  to {
    transform: rotateY(360deg); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
